<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="footer-basic" style="padding: 37px">
    <footer>
	    <div class="">
		    <div class="socials">
			    <ul class="footer-lists fl-socials">
				    <li><i class="bi bi-linkedin"></i></li>
				    <li><i class="bi bi-github"></i></li>
			    </ul>
		    </div>
	    </div>
	
	    <div class="footer-categories">
		    <div class="tech-stack">
			    <h4>Technology</h4>
			    <ul class="footer-lists">
				    <li>Java</li>
				    <li>JavaScript</li>
				    <li>Maven</li>
				    <li>Spring</li>
				    <li>Thymeleaf</li>
			    </ul>
		    </div>
		    <div class="team">
			    <h4>Team</h4>
			    <ul class="footer-lists">
				    <li>Ian McConihay</li>
			    </ul>
		    </div>
	    </div>
    </footer>
</div>

</body>

</html>